*.DS_Store
xcuserdata/

Pods/
Podfile.lock
*.xcuserstate
*.xcbkptlist
App/*.xcuserstate
Tv/*.xcuserstate
sonar-reports/

*.ipa

App/App\.app\.dSYM\.zip
Tv/App\.app\.dSYM\.zip

App/fastlane/report\.xml
Tv/fastlane/report\.xml
compile_commands\.json

xcodebuild\.log

html/

test-coverage-*