*.DS_Store
xcuserdata/

Pods/
Podfile.lock
*.xcuserstate
*.xcbkptlist
App/*.xcuserstate
sonar-reports/

*.ipa

App/App\.app\.dSYM\.zip
App/fastlane/report\.xml

xcodebuild\.log

html/

test-coverage-*
